
<div class="jumbotron" style="padding-bottom: 0; margin-bottom: 0;">
  <h1 style="padding-bottom: 0; margin-bottom: 0;">Welcome to Celebrity Marriage Trivia!</h1>

 

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="nav navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/celebrities">Login</a>
      </li>
    <% end %>
    
  </ul>
</nav>

<div class="container">
<% flash.each do |message_type, msg| %>
  <div class="alert alert-<%= message_type %>", style="width: 200px;"><%= msg %></div>
<% end %>



<div class="card", style="width: 200px;">
  <div class="card-header">
    Who is <br><b><%= @celeb.name %></b><br> married to?
  </div>
  <% if @celeb.avatar.attached? %>
    <%= image_tag url_for(@celeb.avatar) %>
  <% else %>
    <%= image_tag 'unknown1.jpg' %>
  <% end %>
</div>

<%= form_tag do %> 
  <%= hidden_field_tag :spouse_id, @celeb.id %>
  <% @random_spouses.each do |t| %>
    <%= radio_button_tag(:guess, t.id) %> <%= label_tag(t.name) %> <br>
  <% end %>
  <%= submit_tag("Guess!") %>

<% end %>

</div>