<p id="notice"><%= notice %></p>

<h1>Celebrities</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birth year</th>
      <th>Fame type</th>
      <th>Gender</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celebrities.each do |celebrity| %>
      <tr>

        <td><%= celebrity.id %></td>
        <% if celebrity.avatar.attached? %> 
          <td> <%= image_tag celebrity.avatar, style: "width: 50px; height: 50px; display:block" %></td>
        <% else %>
          <td><%= image_tag 'unknown1.jpg', style: "width: 50px; height: 50px; display:block" %></td>
        <% end %>
        <td><%= celebrity.name %></td>
        <td><%= celebrity.birth_year %></td>
        <td><%= celebrity.fame_type %></td>
        <td><%= celebrity.gender %></td>
        <td><%= celebrity.info %></td>
        <td><%= link_to 'Show', celebrity %></td>
        <td><%= link_to 'Edit', edit_celebrity_path(celebrity) %></td>
        <td><%= link_to 'Destroy', celebrity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celebrity', new_celebrity_path %>
