<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @celebrity.name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @celebrity.birth_year %>
</p>

<p>
  <strong>Fame type:</strong>
  <%= @celebrity.fame_type %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @celebrity.gender %>
</p>

<p>
  <strong>Info:</strong>
  <%= @celebrity.info %>
</p>

<%= link_to 'Edit', edit_celebrity_path(@celebrity) %> |
<%= link_to 'Back', celebrities_path %>
